@import url("https://fonts.googleapis.com/css?family=Jost:400,300,500");

.about_body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image_container{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.about_image {
    margin-left: 10px;
    border-radius: 2px;
    height: 464px;
    width: 736px;
}

.about_text_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    padding-right: 50px;
}

.title{
    display: flex;
    justify-content: center;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 65px;

    color: #000000;
}

.paragraph {

    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;

    color: #000000;
}

button {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background: #46CB05;
    border: 1px solid #46CB05;

    font-family: 'Jost';
    font-style: normal;
    font-size: 17px;
    text-align: center;

    border-radius: 4px;
    margin-top: 3%;
    cursor: pointer;
}


.contact_us_button {
    display: flex;
    align-self: center;

    width: auto;
    height: auto;
    border-radius: 4px;

    padding: 10px;
    margin-top: 10%;
    margin-bottom: 20%;

    background: #46CB05;
    border: 1px solid #46CB05;
    backdrop-filter: blur(2px);
}


.contact_us_text {
    display: flex;
    align-content: center;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;    
}

