@import url("https://fonts.googleapis.com/css?family=Jost:400,300,500");

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    height: 150px;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
}

.logo img {
    width: 150px;
    height: 150px;
}

.nav-list {
    width: 55%;
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.rightnav {
    width: 25%;
    text-align: right;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

a {
    text-decoration: none;
    color: #000000;
}

.body_section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left_section {
    display: block;
    flex-direction: column;
    width: 20%;
    justify-content: space-around;
    margin-top: 2em;
}

.middle_section {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}

p {
    margin: 0.1em;
}

h4 {
    font-size: 1.2em;
}

.filters_section {
    list-style: none;
    font-size: 1.25em;
}

.filters_section_label {
    color: #84BD00;
    padding-left: 5px;
}

.filter {
    padding-left: 10px;
    font-weight: 600;
}

.filter:hover {
    color: #84BD00;
    text-decoration: underline;
    cursor: pointer;
}

h2 {
    color: #84BD00;
    font-size: 1.5em;
}

a {
    margin: 2px;
}

button {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background: #46CB05;
    border: 1px solid #46CB05;

    font-family: 'Jost';
    font-style: normal;
    font-size: 17px;
    text-align: center;

    border-radius: 4px;
    margin-top: 5%;
    cursor: pointer;
}


.about_body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.about_image {
    margin-left: 10px;
    border-radius: 2px;
    height: 75%;
    width: 65%;
}

.about_text_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    padding-right: 50px;
}

.title{
    display: flex;
    justify-content: center;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 65px;

    color: #000000;
}

.paragraph {

    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    padding: inherit;

    color: #000000;
}

button {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background: #46CB05;
    border: 1px solid #46CB05;

    font-family: 'Jost';
    font-style: normal;
    font-size: 17px;
    text-align: center;

    border-radius: 4px;
    margin-top: 3%;
    cursor: pointer;
}


.contact_us_button {
    display: flex;
    align-self: center;

    width: auto;
    height: auto;
    border-radius: 4px;

    padding: 10px;

    background: #46CB05;
    border: 1px solid #46CB05;
    backdrop-filter: blur(2px);
}


.contact_us_text {
    display: flex;
    align-content: center;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;    
}

