@import url("https://fonts.googleapis.com/css?family=Jost:400,300,500");

.pantryApp {
    height: 120px;
    width: 200px;

    background: url(PantryApp.png);
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.logo img {
    width: 180px;
    border-radius: 50px;
}

.nav-list {
    width: 60%;
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.rightnav {
    width: 30%;
    text-align: right;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

a {
    text-decoration: none;
    color: #000000;
}