@import url("https://fonts.googleapis.com/css?family=Jost:400,300,500");

.welcome {
    display: flex;
    position: absolute;
    width: 267px;
    height: 200px;
    left: 200px;
    top: 200px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 65px;

    color: #000000;
}

.shop-cook {
    position: absolute;
    width: 395px;
    height: 46px;
    left: 200px;
    top: 350px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;

    color: #46CB05;
}

.homeimage {
    float: right;
    margin: 5 25 5 15px;
}

.get-started {
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
    min-height: 15px;
    text-align: center;
    height: 10px;
    top: 20px;
    left: 60px;
    width: 119px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
 }

.started {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 15px;
    gap: 10px;

    position: absolute;
    width: 212px;
    height: 45px;
    left: 200px;
    top: 450px;

    background: #46CB05;
    border: 1px solid #46CB05;
    backdrop-filter: blur(2px);

    border-radius: 4px;
}




