@import url("https://fonts.googleapis.com/css?family=Jost:400,300,500");
@import url("https://fonts.googleapis.com/css?family=Jost:400,300,500");

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    height: 150px;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
}

.logo img {
    width: 150px;
    height: 150px;
}

.nav-list {
    width: 55%;
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.rightnav {
    width: 25%;
    text-align: right;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

a {
    text-decoration: none;
    color: #000000;
}

button {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background: #46CB05;
    border: 1px solid #46CB05;

    font-family: 'Jost';
    font-style: normal;
    font-size: 17px;
    text-align: center;

    border-radius: 4px;
    margin-top: 3%;
    cursor: pointer;
}

add-button {
    flex-direction: row;
    align-items: flex-start;

    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 3px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;

    background: #b3cf91;
    border: 1px solid #b3cf91;

    border-radius: 4px;
}

tag-button {
    flex-direction: row;
    align-items: flex-start;

    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 3px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;

    background: lightgrey;
    border: 1px solid lightgrey;

    border-radius: 4px;
}

.homeimage {
    float: right;
    margin: 5 25 5 15px;
}

.title {
    padding-left: 10%;
    color: #719842;
    font-family: 'Jost';
}

.add-button-list {
    padding-right: 10%;
    display: flex;
    justify-content: flex-end;
    gap: 2%;
    font-family: 'Jost';
}

.tag-list {
    padding-left: 10%;
    display: flex;
    gap: 5%;
    font-family: 'Jost';
}

.middle_section {
    display: flex;
    padding-left: 10%;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}

.food_images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3%;
}

.food_img {
    width: 30%;
    border-radius: 4px;
}

.pantry {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.details {
    width: 30%;
}

.pantry h3 {
    color: #719842;
    font-size: 1.75em;
    font-family: sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 10px #AAAAAA;
}

